
<div class="admin__infor">
    <h3>Thông tin người dùng</h3>
    {{#with acc}}
                <div class="col-lg-4 col-sm-6">
                    <div class="card " style="width: 18rem">
                        <div class="card-body">
                            <p class="card-title">{{email}}</p>
                            <p class="card-text">{{address}}</p>
                            <p class="card-text">{{firstname}}</p>
                            <p class="card-text">{{lastname}}</p>
                        </div>
                    </div>
                </div>
    {{/with}}
</div>

