
<form method="post" action="/email/sendEmail">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label class="form-label">Text</label>
    <input type="text" class="form-control" name="textSend">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>