
<form method="post" action="/user/store">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label class="form-label">Ten lop</label>
    <input type="text" class="form-control" name="address">
  </div>
 <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" name="firstname">
  </div>
 <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control" name="lastname">
  </div>
 <div class="mb-3">
    <label class="form-label">Ngay day</label>
    <input type="date" class="form-control" name="date">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>