<div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="margin-top: 50px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">ndt13102003.com</h3>
                    </div>
                    <div class="panel-body">
                        <form action="postFile" method="POST" enctype="multipart/form-data">
                            <legend>Upload file</legend>
                            <div class="form-group">
                                <label for="">File</label>
                                <input type="file" class="form-control" name="files">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>