   
 {{!-- About wrapper --}}
    <div id="about__wrapper">
        <div class="slide_img">
        </div>
            <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">  
                </div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
                <div class="swiper-slide"></div>
            </div>
            <!-- If we need pagination -->
             <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            </div>
    <div id="about__infor--wrap">
        <div class="about__timmer">
            <div class="time_start">
                <span>
                    <i class="fa-solid fa-flag"></i> 
                </span>
                <h3>- 29/8/2014</h3>
                <span></span>
            </div>
            <div class="time__clock">
                <div class="time_year">
                    
                </div>
                <div class="time_month">
                
                </div>
                <div class="time_day">
                
                </div>
            </div>
        </div>
        <div class="about__infor">
            <h3 style="font-size: 32px;">Câu lạc bộ kỹ thuật IT-Supporter HaUI</h3>
            <div class="about__infor--detail">
                <div class="infor__item">
                    <div class="infor__banner">
                        <span>1</span>
                        <div class="infor__item--head">
                        <p >
                            IT-Supporter là CLB hỗ trợ kỹ thuật với mục đích hỗ trợ những vấn đề liên quan đến kĩ thuật khoa CNTT.Tạo môi trường cho các sinh viên trao đổi học tập về những vấn đề kỹ thuật và thỏa mãn được đam mê của mình về giải quyết các vấn đề liên quan đến máy tính. Ứng dụng những kinh nghiệm thực chiến về kỹ thuật để xây dựng được những kĩ năng cần thiết cho định hướng tương lai.</p>
                        </div>
                    </div>
                    <div class="infor__banner">
                        <span>2</span>
                        <div class="infor__item--body">

                        <p >
                        Xuyên suốt quá trình thành lập và phát triển, It Supporter đã và đang nhận được sự hỗ trợ trực tiếp từ các thầy cô giảng viên trong khoa và cả sự ửng hộ nhiệt tình của toàn thể sinh viên trong và ngoài khoa CNTT.    Hiện tại, CLB đã đi qua được hành trình dài với vô ngàn thành tựu to lớn đạt được.</p>
                        </div>
                    </div>
                    <div class="infor__banner">
                        <span>3</span>
                        <div class="infor__item--title">
                        <p >
                    CLB được thành lập với mục đích hỗ trợ những vấn đề liên quan đến kĩ thuật khoa CNTT. Tạo môi trường cho các sinh viên trao đổi học tập về những vấn đề kỹ thuật và thỏa mãn được đam mê của mình về giải quyết các vấn đề liên quan đến máy tính. Ứng dụng những kinh nghiệm thực chiến về kỹ thuật để xây dựng được những kĩ năng cần thiết cho định hướng tương lai.It Supporter được chia làm 3 ban chính
                        </div>
                        <ul class="infor__list">
                            <li>
                            
                                <p>   <i class="fa-solid fa-laptop"></i>Ban kỹ thuật: Ban đầu não, đại diện cho chuyên môn mà Đội theo đuổi, có vai trò xây dựng lên ý tưởng đảm bảo chát lượng chuyên môn.
    </p>
                            </li>
                            <li>
                            
                            <p> <i class="fa-solid fa-person"></i> Ban sự kiện: Nhiệm vụ xây dựng kế hoạch và thực hiện điều phối , đảm bảo cho các hoạt động trước, trong và sau sự kiện diễ ra trơn tru , thuận lợi và thành công nhất.</li>
    </p>
                            <li>
                            
                                <p> <i class="fa-solid fa-camera"></i> Ban truyền thông: Thực hiện các hoạt động tăng độ nhận diện và thu hút sự uquan tâm từ cộng đồng sinh viên, nâng tầm thương hiệu của Đội và các sự kiện thông qua những ấn phẩm truyền thông trên fanpage Đội và trên nhiều nền tảng khác.</li>
    </p>
                        </ul>
                    </p>
                    </div>

                
        </div>
                </div>
            </div>
        </div>
    <div class="about__member">
        <h1 style="text-align: center">Ban chủ nhiệm</h1>
        <div class="about__banner">
            <div class="about__baner--box">
                <div class="image-box">
                    <span class="image-desc">
                        <h2>Chủ nhiệm</h2>
                        <p>Phạm Việt Anh</p>
                        <p>SDT: 0974318363</p>

                    </span>
                </div>
                <div class="image-box">
                     <span class="image-desc">
                        <h2>Phó chủ nhiệm</h2>
                        <p>Hồ Nam Tú </p>
                        <p>SDT: 0398812298</p>

                    </span>
                </div>
                <div class="image-box">
                     <span class="image-desc">
                        <h2>Ủy viên</h2>
                        <p>Lý Hải Hưng</p>
                        <p>SDT: 0345253003</p>
                    </span>
                </div>
                <div class="image-box">
                     <span class="image-desc">
                        <h2>Ủy viên</h2>
                        <p> Nguyễn Minh Quang</p>
                        <p>SDT: 0392773016 </p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="active">
        <h1 style="text-align: center;">Hoạt động CLB IT-SUPPORTER</h1>
        <div class="active__list">
            <div class="active__item">
                <div class="active__img">
                    <img src="./img/techSupport.jpg" alt="">
                </div>
                <div class="item--content">
                    <h2>TECH SUPPORT</h2>
                    <div class="item--title">
                        <p>Hỗ trợ toàn bộ giảng viên, sinh viên HaUI</p>
                        <span>
                            <ul>
                                <li>Vệ sinh máy tính</li>
                                <li>Cài đặt phần mềm, windows</li>
                                <li>Nâng cấp phần cứng với mức giá sinh viên chất lượng giảng viên</li>
                                <li>Tư vấn laptop phù hợp với bản thân</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <div class="active__item">
                <div class="active__img">
                    <img src="./img/" alt="">
                </div>
               <div class="item--content">
                    <h2>Bảo trì, kiểm tra</h2>
                    <div class="item--title">
                        <p>Bảo trì kiểm tra hệ thống máy tính trên các phòng thực hành</p>
                        <span>
                            <ul>
                                <li>Bảo trì, cài đặt phòng máy ở khoa CNTT</li>
                                <li>Giúp cho những phòng máy cập nhật kịp thời những phần mềm mới nhất</li>
                                <li>Hoạt động mượt mà nhất cho những giờ thực hành trên lớp.</li>
                                <li>Cập nhật cài đặt phần mềm cần thiết trong quá trình thực hành</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <div class="active__item">
                <div class="active__img">
                    <img src="./img/itnews.png" alt="">
                </div>
                 <div class="item--content">
                    <h2>IT-News</h2>
                    <div class="item--title">
                        <p>Post bài về công nghệ hằng tuần</p>
                        <span>
                            <ul>
                                <li>Cập nhật những thông tin mới nhất về công nghệ theo từng tuần</li>
                                <li>Tạo ra nguồn kiến thức thụ động cho các độc giả</li>
                                <li>Là nơi cho những người nghiện công nghệ theo dõi những thông tin chính cống.</li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="prize">
        <h1>Thành tích đạt được</h1>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


<script>
    const d = new Date();
    const start = new Date('2014-08-29') 
    const curentSeconds = Math.floor((d.getTime() - start.getTime()) / 1000) 
    const curentYear = Math.floor(curentSeconds / 31536000); 
    const curentMonth = Math.floor((curentSeconds - curentYear * 31536000) / 2592000)
    const curentDay = Math.floor((curentSeconds - curentMonth * 2592000 - curentYear * 31536000) / 86400)
    const day = document.querySelector('.time_day') 
    const month = document.querySelector('.time_month') 
    const year = document.querySelector('.time_year')
    day.innerHTML = `<span>${curentDay}<p>Ngày</p></span>`;
    month.innerHTML = `<span>${curentMonth}<p>Tháng</p></span>`;
    year.innerHTML = `<span>${curentYear}<p>Năm</p></span>`;




/// swiper
const swiper = new Swiper('.swiper', {
  // Optional parameters
  // If we need pagination
   autoplay: {
    delay: 3000,
    loop: true,
    },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
  },
});


</script>
