{{#with acc}}
<div class="user__dashboard">
    <div class="user__action">
        <a class="user__main" href="/auth/admin/dashboard/{{_id}}">
            Trang chủ
        </a>
    </div>
    <div class="user__action">
        <a href="/auth/admin/listMember/{{_id}}">
            <i class="fa-solid fa-list"></i>
            Danh sách thành viên
        </a>
    </div>
    <div class="user__action">
        <a href="/auth/admin/techSupport/{{_id}}">
        Tech Support</a>
    </div>
    <div class="user__action">
        <h1>User</h1>
    </div>
    <div class="user__action">
        <h1>User</h1>
    </div>
    <div class="user__action">
        <h1>User</h1>
    </div>
    <div class="user__action">
        <h1>User</h1>
    </div>
    <div class="user__action">
        <a class="user__add" style="cursor: pointer;display: flex;align-item: center;text-decoration: none;" href="/auth/admin/create/{{_id}}">
            <i class="fa-solid fa-plus" style="margin-right: 10px;"></i>
            <p >Thêm thành viên</p>
        </a>
    </div>
</div>







{{/with}}