
    <header class="header__wrapper">
          <div class="header__action">
            <div class="header__logo">
                <img src="/img/logo2.jpg" alt="It-logo1">
            </div>
            <div class="header__clubname">
                <p class="header__clubname--text">IT-SUPPORTER .</p>
            </div>
        </div>
        <div class="header__action">
            <div class="header__wrapper--navigation">
                <ul>
                    <li><a href="#about__infor--wrap">Giới thiệu</a></li>
                    <li><a href="#active">Hoạt động</a></li>
                    <li><a href="#prize">Thành tích</a></li>
                    <li><a href="#target">Mục tiêu</a></li>
                    <li><a href="#hiremember">Tuyển thành viên</a></li>
                </ul>
            </div>
            <a href="/auth/login" type="submit" class="header___btn-login nav-link" value="login" name="login" >Đăng nhập</a>
        </div>
    </header>
